/* variables colors */

/* variables text */
// $main-font: "Circe";

/* variables properties */
%d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* import scripts styles */
@import "partials/reset.scss";
@import "partials/libs.scss";
@import "partials/fonts.scss";

// body {
// 	font: 17.5px/22px $main-font, 'Open Sans', sans-serif;
// 	font-weight: 400;
// 	color: #000;
// 	background: #fff;
// }

@import "partials/media.scss";