@font-face {
		font-family: "PFCentroSlabPro";
		src: url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.eot");
		src: url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.woff") format("woff"),
		url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: 400;
}

@font-face {
		font-family: "PFCentroSlabPro";
		src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot");
		src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff") format("woff"),
		url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf") format("truetype");
		font-style: normal;
		font-weight: 600;
}

@font-face {
		font-family: "PFCentroSlabPro";
		src: url("../fonts/PFCentroSlabProLigh/PFCentroSlabProLigh.eot");
		src: url("../fonts/PFCentroSlabProLigh/PFCentroSlabProLigh.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PFCentroSlabProLigh/PFCentroSlabProLigh.woff") format("woff"),
		url("../fonts/PFCentroSlabProLigh/PFCentroSlabProLigh.ttf") format("truetype");
		font-style: normal;
		font-weight: 300;
}

@font-face {
		font-family: "PFCentroSlabPro";
		src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot");
		src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff") format("woff"),
		url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf") format("truetype");
		font-style: normal;
		font-weight: 500;
}

@font-face {
		font-family: "PFCentroSlabPro";
		src: url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.eot");
		src: url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.woff") format("woff"),
		url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.ttf") format("truetype");
		font-style: italic;
		font-weight: 500;
}

@font-face {
		font-family: "PFCentroSlabPro";
		src: url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.eot");
		src: url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.woff") format("woff"),
		url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.ttf") format("truetype");
		font-style: italic;
		font-weight: 600;