<header class="header">
	<div class="container-fluid">
		<a href="#" class="header__logo logo"><img src="images/logo/logo.png" alt="" class="social-menu__img"></a>
		<ul class="header__social social-menu">
			<li class="social-menu__item">
				<a href="#" class="social-menu__link" target="_blank">
					<img src="images/content/icon/odnoklassniki.png" alt="" class="social-menu__img">				
				</a>
			</li>
			<li class="social-menu__item">
				<a href="#" class="social-menu__link" target="_blank">
					<img src="images/content/icon/facebook.png" alt="" class="social-menu__img">
				</a>
			</li>
			<li class="social-menu__item">
				<a href="#" class="social-menu__link" target="_blank">
					<img src="images/content/icon/vk.png" alt="" class="social-menu__img">
				</a>
			</li>
		</ul>
	</div>
</header>